// Primary
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$light-purple: hsl(245, 70%, 66%);

// Neutral
$very-pale-blue: hsl(225, 100%, 97%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);